doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Squarehub

    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')

    // Custom CSS
    link(href='stylesheets/chatui.css', rel='stylesheet')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    script.
        var firstname = "#{user.first}"
        var lastname = "#{user.last}"

    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='javascripts/enscroll.js')
    script(src='javascripts/scripts.js')
  body(style='background-color: #f7f7f7')
      header.header(style='left: 0px; background-color: #2c3338; text-align: center')
        .container-fluid
            .row
                .col-xs-4(style='margin: auto; text-align: center')
                .col-xs-4(style='margin: auto; text-align: center')
                    img(src='images/squarehub.png' style='height: 75px; width: 175px; margin-left: auto; margin-right: auto')
                .col-xs-2(style='margin: auto; text-align: center')
                .col-xs-2(style='margin: auto; text-align: center')
                    a(href="/logout")
                        button.btn.btn-danger(type='button' style='border-style: none; margin-left: auto; margin-right: auto; margin-top: 20px;') LOG OUT
      .container-fluid
        #chat-window(style='height: 75rem; overflow-y: scroll; overflow-x: hidden')
      footer.footer(style='right: 0px; text-align:center')
        .container-fluid
          .row
            .col-xs-4(style='margin: auto; text-align: center')
            .col-xs-7(style='margin: auto; text-align: center')
              input#textbox.form-control(type='text' style='margin: auto')
            .col-xs-1(style='margin: auto; text-align: center')
                button#send.btn.btn-primary.btn-default(type='button' style='background-color: #2c3338; border-style: none; margin: auto') SEND
      // /#page-content-wrapper
    // /#wrapper
