extends layout

block content
    if (!user)
        body.align
            .site__container
              .grid__container
                form.form.form--login(action='/login', method='post')
                  img(src='/images/squarehub.png', alt='Image')
                  .form__field
                    label.fontawesome-user(for='username')
                    span.hidden Username
                    input.form__input(name='username', type='text', placeholder='Username', required='')
                  .form__field
                    label.fontawesome-lock(for='password')
                    span.hidden Password
                    input.form__input(name='password', type='password', placeholder='Password', required='')
                  .form__field
                    input(type='submit', value='Sign In')
                p.text--center
                  | Not a member? <br />
                  a(href='/register') Sign up now 
                  span.fontawesome-arrow-right
    if (user)
        include ./broadcast.jade
