doctype html
html
  head
    title= Squarehub
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  block content
  if (error && error.length > 0)
    br
    h4.error-msg= error
    br

  script(src='http://code.jquery.com/jquery.js')
