extends layout

block content
  .container
  body.align
    .site__container
      .grid__container
        form.form.form--login(action='/register', method='post')
          img(src='/images/squarehub.png', alt='Image')
          .form__field
            label.fontawesome-user(for='username')
              span.hidden Username
            input.form__input(name='username', type='text', placeholder='Username', required='')
          .form__field
            label.fontawesome-lock(for='password')
              span.hidden Password
            input.form__input(name='password', type='password', placeholder='Password', required='')
          .form__field
            label.fontawesome-envelope(for='email')
              span.hidden Email
            input.form__input(name='email', type='text', placeholder='Email', required='')
          .form__field
            label.fontawesome-user(for='first')
              span.hidden First Name
            input.form__input(name='first', type='text', placeholder='First Name', required='')
          .form__field
            label.fontawesome-user(for='last')
              span.hidden Last Name
            input.form__input(name='last', type='text', placeholder='Last Name', required='')
          .form__field
            input(type='submit', value='Register')
        p.text--center
          | Already a member?
          a(href='/') Sign in now
          span.fontawesome-arrow-right
