.chatbox {
    position: relative;
    top: 770px;
}
.send-btn {
    postition: relative;
    top: 770px;
}
.receive-msg {
    position: relative;
    top: 600px;
    right: 500px;
}
.footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.test {
    background: #ffffff;
}
body {
    background: #ffffff;
}
#bodyDiv {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 800px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}
.track3:hover,
.track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}
.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}
.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
